<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../style/shared-styles.html">
<link rel="import" href="../../style/board-table.html">
<link rel="import" href="../components/confirm-dialog.html">

<dom-module id="view-board-detail">
  <template>
    <style include="board-table"></style>
    <style include="shared-styles">

      :host {
        display: block;
        padding: 10px;
      }

      td {
        background: #fff;
      }

      .footer-menu > button {
        padding: 5px 10px 5px 10px;
        margin: 0px 2px;
      }
      
      .col-second {
        text-align: left;
      }
      td input,textarea {
        width: 100%;
        max-width: 400px;
      }
    </style>
    
    <app-location route="{{route}}" use-hash-as-path></app-location>
    <app-route
      route="{{route}}"
      pattern="/board_detail/:boardSeq"
      data="{{routeData}}">
    </app-route>

    <iron-ajax
      id="ajax-detail-board"
      url="/board/detail.php"
      body='[[detailBoardPrams]]'
      handle-as="json"
      method="GET"
      on-response="_insertBoardResponse"
      content-type="application/json"
      debounce-duration="300">
    </iron-ajax>

    <div class="container">
      <table>
        <colgroup>
          <col style="width:20%">
          <col style="width:80%">
        </colgroup>
        <tr>
          <th colspan="2">[[title]]</th>
        </tr>
        <tr>
          <td >이름</td>
          <td class="col-second">
            <input type="text" id="input-id">
          </td>
        </tr>
        <tr>
          <td>이메일</td>
          <td class="col-second">
            <input type='text' id="input-email">
          </td>
        </tr>
        <tr>
          <td>비밀번호</td>
          <td class="col-second">
            <input type='password' id="input-password">
          </td>
        </tr>
        <tr>
          <td>제 목</td>
          <td class="col-second">
            <input type='text' id="input-title">
          </td>
        </tr>
        <tr>
          <td>내용</td>
          <td class="col-second">
            <textarea id="input-content" cols=65 rows=15></textarea>
          </td>
        </tr>
        <tr>
          <td colspan=2 class="footer-menu">
            <button on-click="_save">저장하기</button>

            <button on-click="_reset">다시쓰기</button>
          
            <button on-click="_back">뒤로가기</button>
          </td>
        </tr>
      </table>
    </div>
  </template>

  <script>
    Polymer({
      is: 'view-board-detail',

      properties: {
        pageNum: {
          type: String
        },
        boardSeq: {
          type: Object,
          observer: '_boardSeqChanged'
        },
        routeData: {
          type: Boolean,
          observer: 'routeDataChanged'
        }
      },
      
      routeDataChanged: function(page) {

        console.log('here : ')
        console.log(page)
      },

      // 뒤로가기 버튼 동작 시 브라우저 back
      _back: function() {
        window.location.hash = '#/board/'
      },
      
      // 저장 버튼 클릭시 동작
      _save: function() {
     
      },
      
      // 게시글 등록 요청 응답
      _insertBoardResponse: function(e) {
        let status = e.detail.response && e.detail.response.status;
        if(status && status.toUpperCase() === 'OK'){
          this._openSuccessDialog();
        } else {
          let message = '게시글 등록을 실패하였습니다.';
          this._openFailDialog(message);
        }
      }
    });
  </script>
</dom-module>