<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../style/shared-styles.html">
<link rel="import" href="../../style/board-table.html">
<link rel="import" href="../../style/button-style.html">

<dom-module id="view-board">
  <template>
    <style include="board-table"></style>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      .board-title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }

      .board-footer {
        max-width: 750px;
        text-align: center;
        margin: 50px auto 20px auto;
      }
      
      .btn-add {
        float:right;
      }

      hr {
        max-width: 750px;
      }

      label:hover {
        color: #3498db;
        animation: spinAround 2s linear infinite;
      }

      a {
        text-decoration: blink;
      }

      .page-num-container {
        text-align: center;
      }

      .select-highlight {
        font-weight: bold;
      }
    </style>

    <iron-ajax
      auto
      id="ajax-select-board-list"
      url="/board/read.php"
      params='[[selectBoardListPrams]]'
      handle-as="json"
      method="GET"
      on-response="_selectBoardListResponse"
      debounce-duration="300">
    </iron-ajax>

    <div class="container">
        <div class="board-title">[[boardTitle]]</div>

        <table>
          <colgroup>
            <col style="width:5%"/>
            <col style="width:50%"/>
            <col style="width:20%"/>
            <col style="width:15%"/>
            <col style="width:15%"/>
          </colgroup>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
          </tr>
          <template is="dom-repeat" items="[[boardList]]">
            <tr>
              <td>[[item.sequence]]</td>
              <td><a href='/detail_board/[[item.sequence]]'>[[item.title]]</a></td>
              <td>[[item.id]]</td>
              <td>[[item.created_at]]</td>
              <td>[[item.view_count]]</td>
            </tr>
          </template>
        </table>
        <hr>
        
        <div class="page-num-container">
          <label on-click="_clickBackPaging">[이전]</label>
          <template is="dom-repeat" items="[[pageCount]]">
            <label on-click="_clickGetPaging" class="page-num">[[item]]</label>
          </template>
          <label on-click="_clickForthPaging">[다음]</label>
        </div>

        <div class="board-footer">
          <select id="type-select" >
            <option value="title" selected>제목</option>
            <option value="id">작성자</option>
            <option value="content">내용</option>
            <option value="title_content">제목+내용</option>
          </select>

          <input id="type-input" on-keypress="_keypressTypeInput">

          <button id="type-submit" on-click="_typeSubmit">
            검색
          </button>
            
          <button class="btn-add" on-click="goToWriteBoard">새 글 쓰기</button>
        </div>
    </div>

  </template>

  <script>
    Polymer({
      is: 'view-board',

      properties: {
        boardTitle: {
          type: String,
          value: '게시판'
        },

        route: {
          type: String,
          observer: '_routeChanged'
        },

        boardList: {
          type: Array
        },
        
        // Dom Repeat으로 페이지 버튼 생성을 위한 배열
        pageCount: {
          type: Array,
          value: [1]
        },
        // 총 페이지 수
        totalPageCount: {
          type: Number,
          value: 1
        },
        // 총 개시글의 수
        boardCount: {
          type: Number,
          value: 1,
          observer: '_boardCountChanged'
        },
        // 현재 보여지고 있는 페이지
        curPage: {
          type: Number,
          value: 1,
          observer: '_curPageChanged'
        },
        // 한 페이지에 나오는 게시글 개수
        paging: {
          type: Number,
          value: 10
        },
        // 페이징 개수가 10개가 넘어가면 1~10, 11~20로 10개씩 번호를 묶음
        numCount: {
          type: Number,
          value: 10
        }  
      },
      
      created: function() {
      },

      attached: function() {
      },
      
      _routeChanged: function(route) {
        if(route.path.split('/')[1] == 'board'){
          this._getBoardList();
        }
      },
      
      goToWriteBoard: function(route) {
        this.set('routeData.page', 'write_board');
      },

      _getBoardList: function(curPage) {
        let type = this.$['type-select'].value;
        let typeContent = this.$['type-input'].value;
        let pageNum = curPage || this.curPage;

        this.selectBoardListPrams = {
          pageNum,
          type,
          typeContent
        };
        
        this.$['ajax-select-board-list'].generateRequest();
      },

      _selectBoardListResponse: function(e) { 
        // if(e.detail.response) 
        this.boardList = e.detail.response.list;
        this.boardCount = e.detail.response.count;
        this._setHighlightClickedText(this.curPage);
      },

      _typeSubmit: function(e) {
        this.curPage = 1;
        this._getBoardList();
      },
      
      // board의 개수가 바뀌면 페이지 숫자를 계산
      _boardCountChanged: function(boardCount) {
        let paging = this.paging;

        // boardCount의 나머지가 0이 아닐 경우 : 총 개수 / 한 페이지에 보여질 숫자 + 1
        this.totalPageCount = boardCount % paging == 0 ? Math.floor(boardCount / paging) : Math.floor(boardCount / paging + 1);

        this._calculatePage();
      },
      
      // 시작 페이지와 끝 페이지의 인덱스를 계산 ex) 1~10, 31~40
      _calculatePage: function() {
        let numCount = this.numCount;
        let totalPageCount = this.totalPageCount;
        let startPage = Math.max(this._deleteOneDigit(this.curPage) + 1, 1);  // 1의 자리를 제거하여 시작 페이지 수 계산
        let endPage = Math.min(startPage + numCount - 1, totalPageCount); // 시작 페이지 수에서 페이지 표현 개수만큼 보이기
        
        let arr = [];
        for(let i=startPage; i<=endPage; i++) {
          arr.push(i);
        }
        this.pageCount = arr;
      },
      
      // 페이지의 이전 버튼 동작
      _clickBackPaging: function() {
        this.curPage = Math.max(this._deleteOneDigit(this.curPage), 1);
        this._calculatePage();
      },
      
      // 페이지의 다음 버튼 동작
      _clickForthPaging: function() {
        this.curPage = Math.min(this._deleteOneDigit(this.curPage) + 11, this.totalPageCount);
        this._calculatePage();
      },

      // 현재 페이지가 변경되면 해당 페이지에 대한 보드 리스트를 다시 요청
      _curPageChanged: function(curPage) {
        this._getBoardList(curPage);
        this._clearTextHighlight();
      },
      
      // 클릭된 페이지를 현재 페이지에 삽입
      _clickGetPaging: function(e) {
        this.curPage = e.target.innerText;
      },

      // 잔상 효과로 인해 지우는 시점은 페이지가 변경 되었을 때, 
      // 다시 하이라이트를 주는 시점은 응답을 받은 후로 적용
      _setHighlightClickedText: function(clickedNum) {
        let textList = this.shadowRoot.querySelectorAll('.page-num');
        
        for(let i=0; i<textList.length; i++) {
          if(textList[i].innerText == clickedNum) {
            textList[i].classList.add('select-highlight');
          }
        }
      },

      _clearTextHighlight: function (){
        let textList = this.shadowRoot.querySelectorAll('.page-num');
        
        textList.forEach(node => {
            node.classList.remove('select-highlight');
        });
      },
      
      // 1의 자리를 제거 함수
      _deleteOneDigit: function(num) {
        return Math.floor((num - 1) / 10) * 10;
      },
      
      // 검색 창에서 엔터를 누를 시, 조회 버튼 동작
      _keypressTypeInput: function(e) {
        if(e.keyCode == 13)
          this._typeSubmit();
      }
    });
  </script>
</dom-module>
