<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../style/shared-styles.html">
<link rel="import" href="../../style/board-table.html">
<link rel="import" href="../components/confirm-dialog.html">

<dom-module id="view-board-detail">
  <template>
    <style include="board-table"></style>
    <style include="shared-styles">

      :host {
        display: block;
        padding: 10px;
      }

      td {
        background: #fff;
      }

      .footer-menu > button {
        padding: 5px 10px 5px 10px;
        margin: 0px 2px;
      }
      
      .col-second {
        text-align: left;
      }

      td input,textarea {
        width: 100%;
        max-width: 400px;
      }
      
      .label-ip {
        font-size: 15px;
        color: #333;
      }
      .label-content {
        min-height: 200px;  
      }
    </style>
    
    <app-location route="{{route}}" use-hash-as-path></app-location>
    <app-route
      route="{{route}}"
      pattern="/board_detail/:boardSeq"
      data="{{routeData}}">
    </app-route>

    <iron-ajax
      id="ajax-detail-board"
      url="/board/detail.php"
      params='[[detailBoardParams]]'
      handle-as="json"
      method="GET"
      on-response="_boardDetailResponse"
      content-type="application/json"
      debounce-duration="300">
    </iron-ajax>

    <div class="container">
      <table>
        <colgroup>
          <col style="width:20%">
          <col style="width:80%">
        </colgroup>
        <tr>
          <th colspan="2">[[board.title]]</th>
        </tr>
        <tr>
          <td >이름 (IP)</td>
          <td class="col-second">
            <label type="text">[[board.id]] <label class="label-ip">([[board.ip_add]])</label></label>
          </td>
        </tr>
        <tr>
          <td>이메일</td>
          <td class="col-second">
            <label type='text'>[[board.email]]</label>
          </td>
        </tr>
        <tr>
          <td>작성일</td>
          <td class="col-second">
            <label type='text'>[[board.created_at]]</label>
          </td>
        </tr>
        <tr>
          <td>내용</td>
          <td class="col-second">
              <div class="label-content"><label>[[board.content]]</label></div>
          </td>
        </tr>
        <tr>
          <td colspan=2 class="footer-menu">
            <button on-click="_reply">댓글 달기</button>

            <button on-click="_delete">삭제</button>
          
            <button on-click="_back">뒤로가기</button>
          </td>
        </tr>
      </table>
    </div>
  </template>

  <script>
    Polymer({
      is: 'view-board-detail',

      properties: {
        pageNum: {
          type: String
        },

        boardSeq: {
          type: Object,
          observer: '_boardSeqChanged'
        },

        routeData: {
          type: Boolean,
          observer: '_routeDataChanged'
        },
        
        board: {
          type: Object
        },

        observers: [
          '_boardSeqChanged(routeData.boardSeq)'
        ],
      },
      
      _routeDataChanged: function(page) {
        if(page.boardSeq)
          this.boardSeq = page.boardSeq; 
      },
      
      _boardSeqChanged: function(boardSeq) {
        this._getBoardDetail(boardSeq);
      },

      _back: function() {
        // TODO 왜 두번 호출해야 뒤로 갈까
        window.location.hash = '#/board';
        window.location.hash = '#/board';
      },
      
      _reply: function() {
        
      },

      _delete: function() {

      },
      
      _getBoardDetail: function(boardSeq) {
        this.detailBoardParams = {
          sequence: boardSeq
        },

        this.$['ajax-detail-board'].generateRequest();
      },

      // 게시글 등록 요청 응답
      _boardDetailResponse: function(e) {
        this.board = e.detail.response;
      }
    });
  </script>
</dom-module>