<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../style/shared-styles.html">
<link rel="import" href="../../style/board-table.html">
<link rel="import" href="../components/confirm-dialog.html">

<dom-module id="view-board-detail">
  <template>
    <style include="board-table"></style>
    <style include="shared-styles">

      :host {
        display: block;
        padding: 10px;
      }

      td {
        background: #fff;
      }

      .footer-menu button {
        padding: 5px 10px 5px 10px;
        margin: 0px 2px;
      }
      
      .col-second {
        text-align: left;
      }

      td input,textarea {
        width: 100%;
        max-width: 400px;
      }
      
      .label-ip {
        font-size: 15px;
        color: #333;
      }

      .label-content {
        min-height: 200px;  
      }

      th input.edit-node {
        text-align: center;
      }

      .edit-node {
        font-size: 18px;
        font-weight: bold;
      }
      
      .edit-form {
        display: none;
      }

      .hidden {
        display: none;
      }

      .view {
        display: table-row;
      }
    </style>
    
    <app-location route="{{route}}" use-hash-as-path></app-location>
    <app-route
      route="{{route}}"
      pattern="/board_detail/:boardSeq"
      data="{{routeData}}">
    </app-route>

    <!-- 게시글 상세 정보 조회 요청 AJAX -->
    <iron-ajax
      id="ajax-detail-board"
      url="/board/detail.php"
      params="[[detailBoardParams]]"
      handle-as="json"
      method="GET"
      on-response="_boardDetailResponse"
      on-error="_boardDetailError"
      content-type="application/json"
      debounce-duration="1000">
    </iron-ajax>

    <!-- 게시글 삭제 요청 AJAX -->
    <iron-ajax
      id="ajax-delete-board"
      url="/board/delete.php"
      body="[[deleteBoardParams]]"
      handle-as="json"
      method="POST"
      on-response="_boardDeleteResponse"
      on-error="_boardDeleteError"
      content-type="application/json"
      debounce-duration="1000">
    </iron-ajax>

    <!-- 게시글 수정 요청 AJAX -->
    <iron-ajax
      id="ajax-update-board"
      url="/board/update.php"
      body="[[updateBoardParams]]"
      handle-as="json"
      method="POST"
      on-response="_boardUpdateResponse"
      on-error="_boardUpdateError"
      content-type="application/json"
      debounce-duration="1000">
    </iron-ajax>

    <div class="container">
      <table>
        <colgroup>
          <col style="width:20%">
          <col style="width:80%">
        </colgroup>
        <tr>
          <th colspan="2">
            <label class="detail-form">[[board.title]]</label>
            <input id="edit-title" class="edit-form edit-node" value="[[board.title]]">
          </th>
        </tr>
        <tr>
          <td >이름 (IP)</td>
          <td class="col-second">
            <label>[[board.id]]</label> <label class="label-ip">([[board.ip_add]])</label>
          </td>
        </tr>
        <tr>
          <td>이메일</td>
          <td class="col-second">
            <label class="detail-form">[[board.email]]</label>
            <input id="edit-email" class="edit-form edit-node" value="[[board.email]]">
          </td>
        </tr>
        <tr>
          <td>작성일</td>
          <td class="col-second">
            <label type='text'>[[board.created_at]]</label>
          </td>
        </tr>
        <tr>
          <td>내용</td>
          <td class="col-second">
              <div class="label-content">
                <label class="detail-form">[[board.content]]</label>
                <textarea id="edit-content" class="label-content edit-form edit-node">[[board.content]]</textarea>
              </div>
          </td>
        </tr>
        <tr class="edit-form">
          <td>비밀번호</td>
          <td class="col-second">
            <input id="edit-password" type='password' class="edit-form edit-node">
          </td>
        </tr>
        <tr>
          <td colspan=2 class="footer-menu">
            <button on-click="_reply" class="detail-form">답글 달기</button>
            <button on-click="_editMode" class="detail-form">수정</button>
            <button on-click="_delete" class="detail-form">삭제</button>
            <button on-click="_back" class="detail-form">뒤로가기</button>

            <button on-click="_commit" class="edit-form">완료</button>
            <button on-click="_detailMode" class="edit-form">취소</button>
          </td>
        </tr>
      </table>
    </div>
  </template>

  <script>
    Polymer({
      is: 'view-board-detail',

      properties: {
        pageNum: {
          type: String
        },

        boardSeq: {
          type: Object
        },

        routeData: {
          type: Boolean,
          observer: '_routeDataChanged'
        },
        
        board: {
          type: Object
        }
      },
      
      _routeDataChanged: function(page) {
          // Route Pattern이 '/board_detail/:boardSeq' 일 때 동작
          // this.boardSeq도 routeData이므로 else if에서 boardSeq가 바뀌면 다시한번 Change로 들어옴
          if (this.boardSeq == page.boardSeq) {
            this._getBoardDetail(this.boardSeq);
          } else if(page.boardSeq) {
            this.boardSeq = page.boardSeq
          }
      },

      _back: function() { 
        window.location.hash = '#/board/';
      },
      
      _reply: function() {
        window.location.hash = `#/reply/${this.boardSeq}`;
      },

      _delete: function() {
        this.deleteBoardParams = JSON.stringify({
          re_group: this.board.re_group,
          re_order: this.board.re_order,
          re_depth: this.board.re_depth,
          token: window.CONST.TOKEN
        });

        this.$['ajax-delete-board'].generateRequest();
      },

      // 게시글 편집 모드
      _editMode: function() {
        this.shadowRoot.querySelectorAll('.detail-form').forEach(node => {
          node.classList.add('hidden');
        });

        this.shadowRoot.querySelectorAll('.edit-form').forEach(node => {
          node.classList.add('view');
        });

        this.$['edit-title'].value = this.board.title;
        this.$['edit-email'].value = this.board.email;
        this.$['edit-content'].value = this.board.content;
      },
      
      // 게시글 보기 모드
      _detailMode: function() {
        this.shadowRoot.querySelectorAll('.detail-form').forEach(node => {
          node.classList.remove('hidden');
        });

        this.shadowRoot.querySelectorAll('.edit-form').forEach(node => {
          node.classList.remove('view');
        });

        this.$['edit-password'].value = '';
      },
      
      // 게시글 수정 요청
      _commit: function() {
        let title = this.$['edit-title'].value;
        let email = this.$['edit-email'].value;
        let content = this.$['edit-content'].value;
        let password = this.$['edit-password'].value;
        let sequence = this.boardSeq;
        
        let obj = { sequence, title, email, content, password, token: window.CONST.TOKEN };

        if(!this._validation(obj))
          return;

        this.updateBoardParams = JSON.stringify(obj);

        this.$['ajax-update-board'].generateRequest();
      },
      
      // 시퀀스에 해당하는 게시글 조회
      _getBoardDetail: function(boardSeq) {
        this.board = null;
        this.detailBoardParams = {
          sequence: boardSeq,
          token: window.CONST.TOKEN
        },

        this.$['ajax-detail-board'].generateRequest();
      },

      // 게시글 상세 조회 에러시 리스트 화면으로 이동
      _boardDetailError: function(e) {
        showDialog('에러', '존재하지 않는 페이지입니다.', 'board');
        this.boardSeq = null;
      },

      // 게시글 등록 요청 응답
      _boardDetailResponse: function(e) {
        this.board = e.detail.response;
      },

      // 게시글 삭제 요청 응답
      _boardDeleteResponse: function(e) {
        let status = e.detail.response && e.detail.response.status;
        let callback = document.querySelector('my-app::shadow view-board').getBoardList();
        
        if(status && status.toUpperCase() === 'OK') {
          showDialog('성공', '게시글이 삭제되었습니다.', 'board', callback);
        } else {
          showDialog('실패', '게시글 삭제에 실패하였습니다.');
        }
      },

      // 게시글 삭제 요청 에러
      _boardDeleteError: function(e) {
        showError(e);
      },
      
      // 게시글 수정 요청 응답
      _boardUpdateResponse: function(e) {
        let status = e.detail.response && e.detail.response.status;

        if(status && status.toUpperCase() == 'OK') {
          showDialog('성공', '게시글이 변경되었습니다.', '', this._boardUpdateSuccess());
        } else {
          showDialog('실패', '게시글이 변경에 실패하였습니다'); 
        }
      },
      
      // 게시글 수정 요청 에러
      _boardUpdateError: function(e) {
        showError(e);
      },

      _boardUpdateSuccess: function() {
        this._detailMode();
        this._getBoardDetail(this.boardSeq);
      },
      
      // 입력 값 밸리데이션
      _validation:function(obj) {
        let board = this.board;

        if(!obj.title || obj.title == ''){
          showDialog('실패', '제목을 입력해 주세요.');
          return false;
        } else if (!obj.password || obj.password == ''){
          showDialog('실패', '비밀번호를 입력해 주세요.');
          return false;
        } else if(obj.title == board.title && obj.email == board.email && obj.content == board.content) {
          showDialog('실패', '변경된 내용이 없습니다.');
          return false;
        }

        return true;
      }
    });
  </script>
</dom-module>