<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../style/shared-styles.html">
<link rel="import" href="../style/board-table.html">

<dom-module id="view-board">
  <template>
    <style include="shared-styles">

      :host {
        display: block;
        padding: 10px;
      }

      .board-title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }
    </style>

    <div class="card">
        <div class="board-title">[[boardTitle]]</div>

        <table>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
          </tr>
          <tr>
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
            <td>data4</td>
            <td>data5</td>
          </tr>
        </table>
    </div>
  </template>

  <script>
    Polymer({
      is: 'view-board',

      properties: {
        boardTitle: {
          type: String,
          value: '게시판'
        }
      },

      created: function() {
        console.log(123)
      }
    });
  </script>
</dom-module>
